.toolbarModel {
  --background: rgb(237, 237, 237);
}

.backbuttonModel {
  --background: transparent;
  --color: red;
  font-size: 13pt;
}

.contente {
  --background: rgb(237, 237, 237);
}

.rihanna {
  align-content: center;
  text-align: center;
  margin-top: 7%;
  font-weight: bold;
  font-size: 14pt;
}

.rihannaPoser {
  display: inline;
  font-weight: bold;
  font-size: 12pt;
}

.rihanna22 {
  display: inline;
  font-weight: normal;
  font-size: 12pt;
}

.copeira {
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 13pt;
}

.tadememe {
  align-content: center;
  text-align: center;
}

.xexe {
  --background: red;
  --background-activated: rgb(128, 8, 8);
  --transition: 0.5s;
  font-size: 16pt;
}

.xexe2 {
  --background: red;
  --background-activated: rgb(128, 8, 8);
  --transition: 0.5s;
  font-size: 14pt;
}

.tryon {
  display: inline-block;
}
