.butaozao {
  --background: rgb(237, 237, 237);
  --background-activated: rgb(237, 237, 237);
}

.iconezin {
  color: red;
}

.toolbarModel {
  --background: rgb(237, 237, 237);
}

.background {
  background: rgb(237, 237, 237);
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.grid {
  display: grid;
  background: #ededed;
  background-color: #ededed;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Create 2 columns and auto-place rows */
  border-top: 1px solid black;
  border-right: 1px solid black;
  align-content: center;
  text-align: center;
  outline: none;
}

.grid > label {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 25px;
  outline: none;
}

.details {
  font-size: 12pt;
  color: red;
}

.gryphon-heart {
  font-weight: 5px;
  font-size: 12pt;
}
